body {
  background-color: rgb(241, 236, 236);
  font-family: 'Montserrat' sans-serif;
  margin: 0;
}

header {
  margin: 0 auto;
  display: flex;
  height: 64px;
  justify-content: space-between;
  background-color: inherit;
}

.leftSide {
  height: 32px;
  margin: auto;
  display: flex;
  align-items: center;
  margin-left: 24px;
  cursor: pointer;
}